{% extends "layout.html" %}

{% block body %}
    
    <div class="header">
        <h1>From what genres do you want too choose?</h1>
    </div>
    <div class="center">
        <form action="/showgenre" method="post">
            <select name="genre">
                <option disable selected>Genre</option>
                {% for genre in genres %}
                    <option>{{ genre }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="GET A SHOW">
        </form>
    </div>

{% endblock %}
